@page "/"

<div class="row">

    <div class="col-6">
        <BlazorServerToDoList.Pages.Components.ToDo HeaderName="Daily Tasks">

        </BlazorServerToDoList.Pages.Components.ToDo>
    </div>

    <div class="col-6">
        <BlazorServerToDoList.Pages.Components.ToDo HeaderName="Monthly Tasks">

        </BlazorServerToDoList.Pages.Components.ToDo>
    </div>
</div>
